[Desktop Entry]
Version=1.0
Name=ZapZap
Comment=Whatsapp Desktop for Linux
Exec=zapzap
Icon=com.rtosta.zapzap
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
Keywords=whatsapp;chat;im;messaging;messenger;sms;
Terminal=false
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true