#!/usr/bin/env xdg-open
[Desktop Entry]
Name=ZapZap
Comment=Whatsapp Desktop for Linux
Version=3.1
Type=Application
Exec=zapzap
Icon=com.rtosta.zapzap
Terminal=false
Categories=Network;InstantMessaging;
StartupNotify=true
X-Flatpak=com.rtosta.zapzap
