#!/usr/bin/env xdg-open
[Desktop Entry]
Name=ZapZap
Comment=Cliente Unofficial para Whatsapp
Version=1.0
Type=Application
Exec=zapzap
Icon=com.rtosta.zapzap
Terminal=false
Categories=Network;InstantMessaging;
StartupNotify=true
