QFrame#frame {border: 1px solid rgb(192, 191, 188);border-radius: 10px;background-color: rgb(246, 245, 244);}

QWidget#blur{
	background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px;
}

QPushButton#openDrawerButton
{
    background-color:  rgba(100, 100, 100, 0.8);
    border: 0.01em solid rgba(100, 100, 100, 0.8);
    border-radius: 0.09em;
}